.hero-image {
  background-image: url('background_image.jpg');
  /* background-color: #cccccc; */
  height: 1000px;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
